
<div *ngIf="transaction">
    <h2><span jhiTranslate="iotaDataManagementApp.transaction.detail.title">Transaction</span> {{transaction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="iotaDataManagementApp.transaction.transactionState">Transaction State</span></dt>
        <dd>
            <span>{{transaction.transactionState}}</span>
        </dd>
        <dt><span jhiTranslate="iotaDataManagementApp.transaction.paidAmount">Paid Amount</span></dt>
        <dd>
            <span>{{transaction.paidAmount}}</span>
        </dd>
        <dt><span jhiTranslate="iotaDataManagementApp.transaction.transactionType">Transaction Type</span></dt>
        <dd>
            <span>{{transaction.transactionType}}</span>
        </dd>
        <dt><span jhiTranslate="iotaDataManagementApp.transaction.transactionTag">Transaction Tag</span></dt>
        <dd>
            <span>{{transaction.transactionTag}}</span>
        </dd>
        <dt><span jhiTranslate="iotaDataManagementApp.transaction.createdOn">Created On</span></dt>
        <dd>
            <span>{{transaction.createdOn | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="iotaDataManagementApp.transaction.modifiedOn">Modified On</span></dt>
        <dd>
            <span>{{transaction.modifiedOn | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="iotaDataManagementApp.transaction.userId">User Id</span></dt>
        <dd>
            {{transaction.userIdLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'transaction/'+ transaction.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
