<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTransactionLabel" jhiTranslate="iotaDataManagementApp.transaction.home.createOrEditLabel">Create or edit a Transaction</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!transaction.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="transaction.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iotaDataManagementApp.transaction.transactionState" for="field_transactionState">Transaction State</label>
            <input type="text" class="form-control" name="transactionState" id="field_transactionState"
                [(ngModel)]="transaction.transactionState" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iotaDataManagementApp.transaction.paidAmount" for="field_paidAmount">Paid Amount</label>
            <input type="number" class="form-control" name="paidAmount" id="field_paidAmount"
                [(ngModel)]="transaction.paidAmount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iotaDataManagementApp.transaction.transactionType" for="field_transactionType">Transaction Type</label>
            <input type="text" class="form-control" name="transactionType" id="field_transactionType"
                [(ngModel)]="transaction.transactionType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iotaDataManagementApp.transaction.transactionTag" for="field_transactionTag">Transaction Tag</label>
            <input type="text" class="form-control" name="transactionTag" id="field_transactionTag"
                [(ngModel)]="transaction.transactionTag" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iotaDataManagementApp.transaction.createdOn" for="field_createdOn">Created On</label>
            <div class="d-flex">
                <input id="field_createdOn" type="datetime-local" class="form-control" name="createdOn" [(ngModel)]="transaction.createdOn"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iotaDataManagementApp.transaction.modifiedOn" for="field_modifiedOn">Modified On</label>
            <div class="d-flex">
                <input id="field_modifiedOn" type="datetime-local" class="form-control" name="modifiedOn" [(ngModel)]="transaction.modifiedOn"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iotaDataManagementApp.transaction.userId" for="field_userId">User Id</label>
            <select class="form-control" id="field_userId" name="userId" [(ngModel)]="transaction.userIdId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
