<div>
    <h2>
        <span jhiTranslate="iotaDataManagementApp.transaction.home.title">Transactions</span>
        <button class="btn btn-primary float-right jh-create-entity create-transaction" [routerLink]="['/', { outlets: { popup: ['transaction-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="iotaDataManagementApp.transaction.home.createLabel">
            Create new Transaction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="transactions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="iotaDataManagementApp.transaction.transactionState">Transaction State</span></th>
            <th><span jhiTranslate="iotaDataManagementApp.transaction.paidAmount">Paid Amount</span></th>
            <th><span jhiTranslate="iotaDataManagementApp.transaction.transactionType">Transaction Type</span></th>
            <th><span jhiTranslate="iotaDataManagementApp.transaction.transactionTag">Transaction Tag</span></th>
            <th><span jhiTranslate="iotaDataManagementApp.transaction.createdOn">Created On</span></th>
            <th><span jhiTranslate="iotaDataManagementApp.transaction.modifiedOn">Modified On</span></th>
            <th><span jhiTranslate="iotaDataManagementApp.transaction.userId">User Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions ;trackBy: trackId">
                <td><a [routerLink]="['../transaction', transaction.id ]">{{transaction.id}}</a></td>
                <td>{{transaction.transactionState}}</td>
                <td>{{transaction.paidAmount}}</td>
                <td>{{transaction.transactionType}}</td>
                <td>{{transaction.transactionTag}}</td>
                <td>{{transaction.createdOn | date:'medium'}}</td>
                <td>{{transaction.modifiedOn | date:'medium'}}</td>
                <td>
                    {{transaction.userIdLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../transaction', transaction.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'transaction/'+ transaction.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'transaction/'+ transaction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
