
<div *ngIf="device">
    <h2><span jhiTranslate="iotaDataManagementApp.device.detail.title">Device</span> {{device.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="iotaDataManagementApp.device.deviceId">Device Id</span></dt>
        <dd>
            <span>{{device.deviceId}}</span>
        </dd>
        <dt><span jhiTranslate="iotaDataManagementApp.device.name">Name</span></dt>
        <dd>
            <span>{{device.name}}</span>
        </dd>
        <dt><span jhiTranslate="iotaDataManagementApp.device.type">Type</span></dt>
        <dd>
            <span>{{device.type}}</span>
        </dd>
        <dt><span jhiTranslate="iotaDataManagementApp.device.deviceUserId">Device User Id</span></dt>
        <dd>
            {{device.deviceUserIdLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'device/'+ device.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
