<div>
    <h2>
        <span jhiTranslate="iotaDataManagementApp.device.home.title">Devices</span>
        <button class="btn btn-primary float-right jh-create-entity create-device" [routerLink]="['/', { outlets: { popup: ['device-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="iotaDataManagementApp.device.home.createLabel">
            Create new Device
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="devices">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deviceId"><span jhiTranslate="iotaDataManagementApp.device.deviceId">Device Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="iotaDataManagementApp.device.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="iotaDataManagementApp.device.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deviceUserIdLogin"><span jhiTranslate="iotaDataManagementApp.device.deviceUserId">Device User Id</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let device of devices ;trackBy: trackId">
                <td><a [routerLink]="['../device', device.id ]">{{device.id}}</a></td>
                <td>{{device.deviceId}}</td>
                <td>{{device.name}}</td>
                <td>{{device.type}}</td>
                <td>
                    {{device.deviceUserIdLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../device', device.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'device/'+ device.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'device/'+ device.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
