<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDeviceLabel" jhiTranslate="iotaDataManagementApp.device.home.createOrEditLabel">Create or edit a Device</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!device.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="device.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iotaDataManagementApp.device.deviceId" for="field_deviceId">Device Id</label>
            <input type="text" class="form-control" name="deviceId" id="field_deviceId"
                [(ngModel)]="device.deviceId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iotaDataManagementApp.device.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="device.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iotaDataManagementApp.device.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="device.type" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iotaDataManagementApp.device.deviceUserId" for="field_deviceUserId">Device User Id</label>
            <select class="form-control" id="field_deviceUserId" name="deviceUserId" [(ngModel)]="device.deviceUserIdId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
