<div>
    <h2>
        <span jhiTranslate="iotaDataManagementApp.saleRoute.home.title">Sale Routes</span>
        <button class="btn btn-primary float-right jh-create-entity create-sale-route" [routerLink]="['/', { outlets: { popup: ['sale-route-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="iotaDataManagementApp.saleRoute.home.createLabel">
            Create new Sale Route
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="saleRoutes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="generatedName"><span jhiTranslate="iotaDataManagementApp.saleRoute.generatedName">Generated Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="iotaDataManagementApp.saleRoute.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userSaleLogin"><span jhiTranslate="iotaDataManagementApp.saleRoute.userSale">User Sale</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deviceSalesId"><span jhiTranslate="iotaDataManagementApp.saleRoute.deviceSales">Device Sales</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let saleRoute of saleRoutes ;trackBy: trackId">
                <td><a [routerLink]="['../sale-route', saleRoute.id ]">{{saleRoute.id}}</a></td>
                <td>{{saleRoute.generatedName}}</td>
                <td>{{saleRoute.type}}</td>
                <td>
                    {{saleRoute.userSaleLogin}}
                </td>
                <td>
                    <div *ngIf="saleRoute.deviceSalesId">
                        <a [routerLink]="['../device', saleRoute.deviceSalesId  ]" >{{saleRoute.deviceSalesId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sale-route', saleRoute.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sale-route/'+ saleRoute.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sale-route/'+ saleRoute.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
