
<div *ngIf="saleRoute">
    <h2><span jhiTranslate="iotaDataManagementApp.saleRoute.detail.title">Sale Route</span> {{saleRoute.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="iotaDataManagementApp.saleRoute.generatedName">Generated Name</span></dt>
        <dd>
            <span>{{saleRoute.generatedName}}</span>
        </dd>
        <dt><span jhiTranslate="iotaDataManagementApp.saleRoute.type">Type</span></dt>
        <dd>
            <span>{{saleRoute.type}}</span>
        </dd>
        <dt><span jhiTranslate="iotaDataManagementApp.saleRoute.userSale">User Sale</span></dt>
        <dd>
            {{saleRoute.userSaleLogin}}
        </dd>
        <dt><span jhiTranslate="iotaDataManagementApp.saleRoute.deviceSales">Device Sales</span></dt>
        <dd>
            <div *ngIf="saleRoute.deviceSalesId">
                <a [routerLink]="['/device', saleRoute.deviceSalesId]">{{saleRoute.deviceSalesId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sale-route/'+ saleRoute.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
