<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySaleRouteLabel" jhiTranslate="iotaDataManagementApp.saleRoute.home.createOrEditLabel">Create or edit a Sale Route</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!saleRoute.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="saleRoute.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iotaDataManagementApp.saleRoute.generatedName" for="field_generatedName">Generated Name</label>
            <input type="text" class="form-control" name="generatedName" id="field_generatedName"
                [(ngModel)]="saleRoute.generatedName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iotaDataManagementApp.saleRoute.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="saleRoute.type" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iotaDataManagementApp.saleRoute.userSale" for="field_userSale">User Sale</label>
            <select class="form-control" id="field_userSale" name="userSale" [(ngModel)]="saleRoute.userSaleId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="iotaDataManagementApp.saleRoute.deviceSales" for="field_deviceSales">Device Sales</label>
            <select class="form-control" id="field_deviceSales" name="deviceSales" [(ngModel)]="saleRoute.deviceSalesId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="deviceOption.id" *ngFor="let deviceOption of devices; trackBy: trackDeviceById">{{deviceOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
